// Color and other Variables:
$white: #fff;
$black: #333;
$info-color:  #00aff0;
$error-color: #ec5840;
$warning-color: #ffae00;
$mobile-min-width: 0px;
$mobile-max-width: 640px;
$desktop-min-width: 640px;

// Media query for desktop
@media screen and (min-width: $desktop-min-width) {
    #notify-me-container {
        min-width: 300px;
        max-width: 50%;
    }
    .all-notifs {
        float: right;
        .notif {
            margin: 8px;
            float: right;
        }
    }
}


//Default CSS for mobile-first
#notify-me-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
}

.error {
    background-color: $error-color;
    color: $white;
}
.info {
    background-color: $info-color;
    color: $white;
}
.warning {
    background-color: $warning-color;
    color: $black;
}
.all-notifs {
    width: 100%;
    .notif {
        padding: 10px;
        margin-bottom: 8px;
        border-radius: 4px;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
        .title {
            font-size: 16px;
            line-height: 20px;
            margin-right: 20px;
            font-weight: bold;
            text-decoration: underline;
        }

        .close {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            width: 20px;
            float: right;
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
        }
        .message {
            font-size: 14px;
            line-height: 20px;
        }


        /* ANIMATION FOR NOTIFICATIONS */
        &.ng-enter,
        &.ng-leave {
            transition:all ease 0.5s;
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave.ng-leave-active,
        &.ng-enter {
            opacity:0;
        }
    }
}

